body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper{
    height: 200px;
    width: 50%;
    margin: 20px;
    background-image: url(imagenes/2.png), url(imagenes/1.png);
    background-color:blue;
    background-size: contain;
}
.wrap{
    height: 200px;
    width: 50%;
    margin: 20px;
    box-shadow: 20px 20px  20px #999;
}